{#_____ IMPORT PROJECT TEMPLATE _____#}
{% import 'Project' as project with context %}

{#_____ OVERLAY VPN TUNNELS _____#}
{%- for vpn in project.vpn_overlay %}
{%- if project.vpn_overlay[vpn].interface_spoke != 'none' %}
config vpn ipsec phase1-interface
    edit "{{ project.vpn_overlay[vpn].name }}"
        set type static
        set interface "{{ project.vpn_overlay[vpn].interface_spoke }}"
        set ike-version 2
        set psksecret ENC {{ project.psksecret_hash }}
        set keylife 28800
        set peertype any
        set net-device enable
        set proposal aes256-sha256
        set dhgrp 14
        set idle-timeout enable
        set auto-discovery-receiver enable
        set exchange-ip-addr4 {{ loopback_ip }}
        set add-route disable
        set network-overlay enable
        set network-id {{ project.vpn_overlay[vpn].network_id }}
        set remote-gw {{ project.vpn_overlay[vpn].hub_wan_ip }}
        set dpd-retrycount 2
        set dpd-retryinterval 5
        set dpd on-idle
    next
end
config vpn ipsec phase2-interface
    edit "{{ project.vpn_overlay[vpn].name }}"
        set phase1name "{{ project.vpn_overlay[vpn].name }}"
        set proposal aes256-sha256
        set dhgrp 14
        set auto-negotiate enable
        set keepalive enable
        set keylifeseconds 3600
    next
end
config system interface
    edit "{{ project.vpn_overlay[vpn].name }}"
        set vdom "root"
        set type tunnel
        set tcp-mss 1350
        set interface "{{ project.vpn_overlay[vpn].interface_spoke }}"
    next
end
{%- endif %}
{%- endfor %}